* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Hanken Grotesk', sans-serif;
}

// Primary colors alpha
$primary-light-red-alpha: hsla(0, 100%, 67%, 0.1);
$primary-orangey-yellow-alpha: hsla(39, 100%, 56%, 0.1);
$primary-green-teal-alpha: hsla(166, 100%, 37%, 0.1);
$primary-cobalt-blue-alpha: hsla(234, 85%, 45%, 0.1);

// Primary colors
$primary-light-red: hsla(0, 100%, 67%);
$primary-orangey-yellow: hsla(39, 100%, 56%);
$primary-green-teal: hsla(166, 100%, 37%);
$primary-cobalt-blue: hsla(234, 85%, 45%);

// Gradient colors
$gradient-slate-to-royal-blue: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
$gradient-violet-to-persian-blue: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

// Neutral colors
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// Media query breakpoints
$mobile-breakpoint: 500px;

// Mixins
@mixin media-query($point) {
  @if $point == mobile {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }
}

@mixin flex($direction, $justify, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
